@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">What is this?</h1>
    <p>This is my portfolio of all of the development projects that I have completed during, and after, my time at DMU. Most of these are projects that I have developed in order to learn and practice different development languages and will be updated as I learn.</p>
</div>
