@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-content">
    <p>Get in contact with me through email or my LinkedIn account: </p>
    <p>Email: maciejwenerski02@gmail.com</p>
    <p>LinkedIn:</p>
</div>
